include includes/head.pug

div#joueurs
  div#joueur1
    p=present
    img#avatarfinal1(src=image alt='')
    p Score : 
      div#score1 0
  div#joueur2
    p=present
    img#avatarfinal1(src=image alt='')
    p Score : 
      span#score2 0

input#bouttonStart(type="button" value="Jouer") 

section
  #fenetreDeJeu
    #numQuestion
    #theme
    #question
    div#allpropositions
      button#reponseA
      button#reponseB
      button#reponseC
      button#reponseD
    #reponseFinale
    #anecdote


include includes/footer.pug
//- script(src="/js/back.js")
//- script(src="/js/game.js")
